body.disabled>* {
  opacity: 0.6;
  filter: alpha(opacity = 0.6);
}

body.disabled .modal-popover-container {
  opacity: 1;
  filter: alpha(opacity = 1);
}

/* Top of page blocking styles */
 #iframe-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity = 0);
  _position: absolute;
  _width: expression((0 + (document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth) +
    (ignoreMe1 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft )) + 'px');
  _height: expression((0 + (document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight) +
    (ignoreMe2 = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
  z-index: 99;
}

#blocking-div {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
  opacity: 0;
  filter: alpha(opacity = 0);
}

/* un-reset element focus outline style */
input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus,
.button-option-label label:focus {
  outline: 2px solid #69CAE8;
  outline: 2px solid rgba(105, 202, 232, 0.6);
  outline-offset: -2px;
}

a:active {
  outline: none;
}

/* un-reset list item style */
ul, ol {
  padding-left: 40px;
}

/* menu out */
.menu-out {
  padding-left: 0;
  list-style: none;
}
ul.flow-across {
  display: table;
}
ul.flow-across li {
  display: table-cell;
  padding: 0 0.1em;
}

.menu-out-prompt {
  font-weight: 600;
  display: inline-block;
  color: #262626;
  padding-right: 0.8em;
}

.small-menu-out-prompt {
  vertical-align: middle;
  font-size: 0.8em;
}

.big-menu-out-prompt {
  font-size: 1.2em;
}

.menu-out-hint {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}

/* menu out - nav */
nav.menu-out a {
  text-decoration: none;
  padding: 0.4em 1em;
  display: block;
}

nav.menu-out a.current-nav-item {
  color: #fff;
  background-color: #0979C6;
  border-radius: 3px;
}

/* Skip links */
#skiplinks{
  position: absolute;
  left: -999em;
  width: 990em;
}

#skiplinks a:focus,
#skiplinks a:active,
#skiplinks a:hover{
  position: absolute;
  z-index: 999;
  left: 999em;
  top: 80px;
  width: auto;
  font-weight: bold;
  color: #444444;
  margin: 5px;
  padding: 15px;
  border: 3px #444444 solid;
  background-color: #ffffff;
}
.skipTarget {
  position:absolute;
  left: -999em;
  overflow:hidden;
}

/* debug info */
.debug-icon {
  color: #050;
  float: left;
  position: absolute;
  z-index: 999999;
  opacity: 0.5;
}
.debug-wrapper {
  display: none;
}
.debug-container {
  font-style: oblique;
  color: #b00;
  margin: 0.2em;
  padding: 0.2em;
}
.debug-container p {
  margin: 0.5em 0;
}
.debug-container ol li {
  display: list-item;
}

/* misc */
.hidden {
  display: none;
}

.label,
.button.label,
.button.label:hover,
.button.label:active,
.button.label:visited {
  padding: 0 0.4em;
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #0B8433;
  font-weight: 700;
  box-shadow: none;
  text-shadow: none;
  font-size: 1em;
  font-size: 1rem;
  vertical-align: middle;
}

.small-label,
.button.small-label,
.button.small-label:hover,
.button.small-label:active,
.button.small-label:visited {
  font-size: 0.7em;
  font-size: 0.7rem;
}

.green-label,
.button.green-label,
.button.green-label:hover,
.button.green-label:active,
.button.green-label:visited {
  background: #0B8433;
}

.red-label,
.button.red-label,
.button.red-label:hover,
.button.red-label:active,
.button.red-label:visited  {
  background: #b70f0f;
}

.yellow-label,
.button.yellow-label,
.button.yellow-label:hover,
.button.yellow-label:active,
.button.yellow-label:visited  {
  background: #FFE05C;
  color: #666;
}

.white-label,
.button.white-label,
.button.white-label:hover,
.button.white-label:active,
.button.white-label:visited  {
  border: 1px solid #ddd;
  background: #f9f9f9;
  color: #666;
  font-weight: 600;
}

.black-label,
.button.black-label,
.button.black-label:hover,
.button.black-label:active,
.button.black-label:visited  {
  background: #000;
}

.link-button::before {
  color: #666;
}

.green-icon::before {
  color: #0B8433;
}

.red-icon::before {
  color: #b70f0f;
}

.blue-icon::before {
  color: #0979C6;
}

.grey-icon::before {
  color: #666;
}
