.flash-message {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 1px;
}

.flash-message .info-box {
  display: inline-block;
  margin: 1.5em auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.flash-message-close,
.flash-message-close:focus {
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1em;
  opacity: 0.7;
  font-size: 0.8em;
  padding: 0;
  border: none;
  background: none;
}

.flash-message-close:hover,
.flash-message-close:active {
  opacity: 1;
  background: none;
}

.flash-message-close:before {
  margin-right: 0;
  margin-left: 0.5em;
  vertical-align: -0.3em;
}