/* Artfully Masterminded by ZURB */

/* --------------------------------------------------
:: Grid

This is the mobile-friendly, responsive grid that
lets Foundation work much of its magic.

-------------------------------------------------- */

.container { padding: 0; width: 100%; }

.row { width: 100%; margin: 0 auto; max-width: 1190px; }
/* To fix the grid into a certain size, set max-width to width */
.row .row { min-width: 0; }

.column, .columns {
  margin-left: 2%;
  float: left;
  min-height: 1px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.column:first-child, .columns:first-child { margin-left: 0; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }

.row .one { width: 6.475%; }
.row .two { width: 14.975%; }
.row .three { width: 23.475%; }
.row .four { width: 31.975%; }
.row .five { width: 40.475%; }
.row .six { width: 48.975%; }
.row .seven { width: 57.475%; }
.row .eight { width: 65.975%; }
.row .nine { width: 74.475%; }
.row .ten { width: 82.975%; }
.row .eleven { width: 91.475%; }
.row .twelve { width: 100%; }

.marginless .column, .marginless .columns { margin-left: 0; }
/*
.one-marginless { width: 8.333%; margin-left: 0; }
.two-marginless { width: 16.666%; margin-left: 0; }
.three-marginless { width: 25%; margin-left: 0; }
.four-marginless { width: 33.333%; margin-left: 0; }
.five-marginless { width: 41.666%; margin-left: 0; }
.six-marginless { width: 50%; margin-left: 0; }
.seven-marginless { width: 58.333%; margin-left: 0; }
.eight-marginless { width: 66.666%; margin-left: 0; }
.nine-marginless { width: 75%; margin-left: 0; }
.ten-marginless { width: 83.333%; margin-left: 0; }
.eleven-marginless { width: 91.666%; margin-left: 0; }
.twelve-marginless { width: 100%; margin-left: 0; }
*/
.one-column-input,
.two-column-input,
.three-column-input,
.four-column-input,
.five-column-input,
.six-column-input,
.seven-column-input,
.eight-column-input,
.nine-column-input,
.ten-column-input,
.eleven-column-input,
.twelve-column-input {
  width: 100%;
  display: table-cell;
  position: relative;
}

/* ME - the margins below here need to be recalculated and tested */
.row .offset-by-one { margin-left: 12.97730%; }
.row .offset-by-two { margin-left: 21.67957%; }
.row .offset-by-three { margin-left: 30.38184%; }
.row .offset-by-four { margin-left: 39.08226%; }
.row .offset-by-five { margin-left: 47.78638%; }
.row .offset-by-six { margin-left: 56.48865%; }
.row .offset-by-seven { margin-left: 65.19092%; }
.row .offset-by-eight { margin-left: 73.89319%; }
.row .offset-by-nine { margin-left: 82.59546%; }
.row .offset-by-ten { margin-left: 91.29773%; }

.row .centered { float: none; margin: 0 auto; }

.row .offset-by-one:first-child { margin-left: 8.626165%; }
.row .offset-by-two:first-child { margin-left: 17.328435%; }
.row .offset-by-three:first-child { margin-left: 26.030705%; }
.row .offset-by-four:first-child { margin-left: 34.731125%; }
.row .offset-by-five:first-child { margin-left: 43.435245%; }
.row .offset-by-six:first-child { margin-left: 52.137515%; }
.row .offset-by-seven:first-child { margin-left: 60.839785%; }
.row .offset-by-eight:first-child { margin-left: 69.542055%; }
.row .offset-by-nine:first-child { margin-left: 78.244325%; }
.row .offset-by-ten:first-child { margin-left: 86.946595%; }
.row .offset-by-eleven:first-child { margin-left: 95.648865%; }

/* Source Ordering */
.push-two { left: 17.328435%; }
.push-three { left: 26.030705%; }
.push-four { left: 34.731125%; }
.push-five { left: 43.435245%; }
.push-six { left: 52.137515%; }
.push-seven { left: 60.839785%; }
.push-eight { left: 69.542055%; }
.push-nine { left: 78.244325%; }
.push-ten { left: 86.946595%; }

.pull-two { right: 17.328435%; }
.pull-three { right: 26.030705%; }
.pull-four { right: 34.731125%; }
.pull-five { right: 43.435245%; }
.pull-six { right: 52.137515%; }
.pull-seven { right: 60.839785%; }
.pull-eight { right: 69.542055%; }
.pull-nine { right: 78.244325%; }
.pull-ten { right: 86.946595%; }

img, object, embed { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }

/*
IE compat
*/
.lt-ie8 .one-column-input, .lt-ie8 .input-group-addon { width: 8.333%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; padding-left: 0; padding-right: 0;}
.lt-ie8 .two-column-input { width: 16.666%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .three-column-input { width: 25%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .four-column-input { width: 33.333%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .five-column-input { width: 41.666%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .six-column-input { width: 50%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .seven-column-input { width: 58.333%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .eight-column-input { width: 66.666%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .nine-column-input { width: 75%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .ten-column-input { width: 83.333%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .eleven-column-input { width: 91.666%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}
.lt-ie8 .twelve-column-input { width: 100%; margin-left: 0;  float: left; min-height: 1px; position: relative; box-sizing: border-box; -moz-box-sizing: border-box;}

