.modal-popover-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  text-align: center;
}

.modal-popover {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,0.7);
  width: 680px;
  max-width: 98%;
  margin: 5% auto 140px auto;
  position: relative;
  display: inline-block;
  text-align: left;
}

.modal-popover.large-popover {
  width: 880px;
}

.modal-popover.small-popover {
  width: 380px;
}

.modal-popover.dynamic-popover {
  width: auto;
}

.modal-popover h2 {
  font-size: 1.6em;
  font-weight: 400;
  color: #1065AF;
  padding: 0.5em;
  margin: -1rem -1rem 1rem -1rem;
  border-bottom: 1px solid #e5e5e5;
}

.modal-popover.small-popover h2 {
  font-size: 1.5em;
}

.modal-popover h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #1065AF;
}

.modal-popover h4 {
  font-size: 1.3em;
  font-weight: 400;
  color: #555;
}

.modal-popover-content {
  padding: 1em;
}

.modal-popover-content p {
  padding-bottom: 0.5em;
}

ul.modal-popover-actions,
.modal-popover-actions {
  border-top: 1px solid #e5e5e5;
  display: block;
  text-align: right;
  padding: 0.5em;
  margin: 1em -1em -1em -1em;
  background: rgba(9, 121, 198, 0.01);
  border-radius: 0 0 3px 3px;
  clear: both;
}

ul.modal-popover-actions li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.modal-popover-content .modal-dismiss {
  float:right;
  margin-top: 0.6em;
  margin-right: -0.8em;
  cursor: pointer;
}

/** Needs precedence over rule in .modal-popover-container */
.contains-popover {
  overflow: hidden;
}

.modal-popover-icon {
  display: table-cell;
  font-size: 2.5em;
  color: #666;
}

.modal-popover-text {
  display: table-cell;
  vertical-align: middle;
}

.modal-alert-info .modal-popover-icon {
  color: #54B3E2;
}

.modal-alert-success .modal-popover-icon {
  color: #9EDD54;
}

.modal-alert-warning .modal-popover-icon {
  color: #FFCF00;
}

.modal-alert-danger .modal-popover-icon {
  color: #CF1111;
}
