.no-icomoon [class^="icon-"]:before, .no-icomoon [class*=" icon-"]:before {
  content: "\00a0";
  display: inline-block;
  width: 1em;
  -webkit-background-size: contain;
  background-size: contain;
}

.no-icomoon .icon-home:before {
  background-image: url('png/home.png');
}
.no-icomoon .icon-office:before {
  background-image: url('png/office.png');
}
.no-icomoon .icon-newspaper:before {
  background-image: url('png/newspaper.png');
}
.no-icomoon .icon-pencil:before {
  background-image: url('png/pencil.png');
}
.no-icomoon .icon-eyedropper:before {
  background-image: url('png/eyedropper.png');
}
.no-icomoon .icon-droplet:before {
  background-image: url('png/droplet.png');
}
.no-icomoon .icon-paint-format:before {
  background-image: url('png/paint-format.png');
}
.no-icomoon .icon-image:before {
  background-image: url('png/image.png');
}
.no-icomoon .icon-images:before {
  background-image: url('png/images.png');
  width: 1.125em;
}
.no-icomoon .icon-camera:before {
  background-image: url('png/camera.png');
}
.no-icomoon .icon-headphones:before {
  background-image: url('png/headphones.png');
}
.no-icomoon .icon-music:before {
  background-image: url('png/music.png');
}
.no-icomoon .icon-play:before {
  background-image: url('png/play.png');
}
.no-icomoon .icon-video-camera:before {
  background-image: url('png/video-camera.png');
}
.no-icomoon .icon-dice:before {
  background-image: url('png/dice.png');
}
.no-icomoon .icon-bullhorn:before {
  background-image: url('png/bullhorn.png');
}
.no-icomoon .icon-connection:before {
  background-image: url('png/connection.png');
  width: 1.25em;
}
.no-icomoon .icon-mic:before {
  background-image: url('png/mic.png');
}
.no-icomoon .icon-book:before {
  background-image: url('png/book.png');
}
.no-icomoon .icon-books:before {
  background-image: url('png/books.png');
  width: 1.125em;
}
.no-icomoon .icon-library:before {
  background-image: url('png/library.png');
  width: 1.0625em;
}
.no-icomoon .icon-file-text:before {
  background-image: url('png/file-text.png');
}
.no-icomoon .icon-profile:before {
  background-image: url('png/profile.png');
}
.no-icomoon .icon-file-empty:before {
  background-image: url('png/file-empty.png');
}
.no-icomoon .icon-files-empty:before {
  background-image: url('png/files-empty.png');
}
.no-icomoon .icon-file-text2:before {
  background-image: url('png/file-text2.png');
}
.no-icomoon .icon-file-picture:before {
  background-image: url('png/file-picture.png');
}
.no-icomoon .icon-file-music:before {
  background-image: url('png/file-music.png');
}
.no-icomoon .icon-file-play:before {
  background-image: url('png/file-play.png');
}
.no-icomoon .icon-file-video:before {
  background-image: url('png/file-video.png');
}
.no-icomoon .icon-file-zip:before {
  background-image: url('png/file-zip.png');
}
.no-icomoon .icon-copy:before {
  background-image: url('png/copy.png');
}
.no-icomoon .icon-paste:before {
  background-image: url('png/paste.png');
}
.no-icomoon .icon-stack:before {
  background-image: url('png/stack.png');
}
.no-icomoon .icon-folder:before {
  background-image: url('png/folder.png');
}
.no-icomoon .icon-folder-open:before {
  background-image: url('png/folder-open.png');
}
.no-icomoon .icon-folder-plus:before {
  background-image: url('png/folder-plus.png');
}
.no-icomoon .icon-folder-minus:before {
  background-image: url('png/folder-minus.png');
}
.no-icomoon .icon-folder-download:before {
  background-image: url('png/folder-download.png');
}
.no-icomoon .icon-folder-upload:before {
  background-image: url('png/folder-upload.png');
}
.no-icomoon .icon-price-tag:before {
  background-image: url('png/price-tag.png');
}
.no-icomoon .icon-price-tags:before {
  background-image: url('png/price-tags.png');
  width: 1.25em;
}
.no-icomoon .icon-barcode:before {
  background-image: url('png/barcode.png');
}
.no-icomoon .icon-qrcode:before {
  background-image: url('png/qrcode.png');
}
.no-icomoon .icon-ticket:before {
  background-image: url('png/ticket.png');
}
.no-icomoon .icon-cart:before {
  background-image: url('png/cart.png');
}
.no-icomoon .icon-coin-dollar:before {
  background-image: url('png/coin-dollar.png');
}
.no-icomoon .icon-coin-euro:before {
  background-image: url('png/coin-euro.png');
}
.no-icomoon .icon-coin-pound:before {
  background-image: url('png/coin-pound.png');
}
.no-icomoon .icon-coin-yen:before {
  background-image: url('png/coin-yen.png');
}
.no-icomoon .icon-credit-card:before {
  background-image: url('png/credit-card.png');
}
.no-icomoon .icon-calculator:before {
  background-image: url('png/calculator.png');
}
.no-icomoon .icon-lifebuoy:before {
  background-image: url('png/lifebuoy.png');
}
.no-icomoon .icon-phone:before {
  background-image: url('png/phone.png');
}
.no-icomoon .icon-phone-hang-up:before {
  background-image: url('png/phone-hang-up.png');
}
.no-icomoon .icon-address-book:before {
  background-image: url('png/address-book.png');
}
.no-icomoon .icon-envelop:before {
  background-image: url('png/envelop.png');
}
.no-icomoon .icon-pushpin:before {
  background-image: url('png/pushpin.png');
}
.no-icomoon .icon-location:before {
  background-image: url('png/location.png');
}
.no-icomoon .icon-compass:before {
  background-image: url('png/compass.png');
}
.no-icomoon .icon-compass2:before {
  background-image: url('png/compass2.png');
}
.no-icomoon .icon-map:before {
  background-image: url('png/map.png');
}
.no-icomoon .icon-history:before {
  background-image: url('png/history.png');
  width: 1.0625em;
}
.no-icomoon .icon-clock:before {
  background-image: url('png/clock.png');
}
.no-icomoon .icon-alarm:before {
  background-image: url('png/alarm.png');
}
.no-icomoon .icon-bell:before {
  background-image: url('png/bell.png');
}
.no-icomoon .icon-stopwatch:before {
  background-image: url('png/stopwatch.png');
}
.no-icomoon .icon-calendar:before {
  background-image: url('png/calendar.png');
}
.no-icomoon .icon-printer:before {
  background-image: url('png/printer.png');
}
.no-icomoon .icon-keyboard:before {
  background-image: url('png/keyboard.png');
  width: 1.125em;
}
.no-icomoon .icon-display:before {
  background-image: url('png/display.png');
}
.no-icomoon .icon-laptop:before {
  background-image: url('png/laptop.png');
}
.no-icomoon .icon-mobile:before {
  background-image: url('png/mobile.png');
}
.no-icomoon .icon-tablet:before {
  background-image: url('png/tablet.png');
}
.no-icomoon .icon-tv:before {
  background-image: url('png/tv.png');
}
.no-icomoon .icon-drawer:before {
  background-image: url('png/drawer.png');
}
.no-icomoon .icon-drawer2:before {
  background-image: url('png/drawer2.png');
}
.no-icomoon .icon-box-add:before {
  background-image: url('png/box-add.png');
}
.no-icomoon .icon-box-remove:before {
  background-image: url('png/box-remove.png');
}
.no-icomoon .icon-download:before {
  background-image: url('png/download.png');
}
.no-icomoon .icon-upload:before {
  background-image: url('png/upload.png');
}
.no-icomoon .icon-floppy-disk:before {
  background-image: url('png/floppy-disk.png');
}
.no-icomoon .icon-drive:before {
  background-image: url('png/drive.png');
}
.no-icomoon .icon-database:before {
  background-image: url('png/database.png');
}
.no-icomoon .icon-undo:before {
  background-image: url('png/undo.png');
}
.no-icomoon .icon-redo:before {
  background-image: url('png/redo.png');
}
.no-icomoon .icon-undo2:before {
  background-image: url('png/undo2.png');
}
.no-icomoon .icon-redo2:before {
  background-image: url('png/redo2.png');
}
.no-icomoon .icon-forward:before {
  background-image: url('png/forward.png');
}
.no-icomoon .icon-reply:before {
  background-image: url('png/reply.png');
}
.no-icomoon .icon-bubble:before {
  background-image: url('png/bubble.png');
}
.no-icomoon .icon-bubbles2:before {
  background-image: url('png/bubbles2.png');
  width: 1.125em;
}
.no-icomoon .icon-user:before {
  background-image: url('png/user.png');
}
.no-icomoon .icon-users:before {
  background-image: url('png/users.png');
  width: 1.125em;
}
.no-icomoon .icon-user-plus:before {
  background-image: url('png/user-plus.png');
}
.no-icomoon .icon-user-minus:before {
  background-image: url('png/user-minus.png');
}
.no-icomoon .icon-user-check:before {
  background-image: url('png/user-check.png');
}
.no-icomoon .icon-user-tie:before {
  background-image: url('png/user-tie.png');
}
.no-icomoon .icon-quotes-left:before {
  background-image: url('png/quotes-left.png');
}
.no-icomoon .icon-quotes-right:before {
  background-image: url('png/quotes-right.png');
}
.no-icomoon .icon-hour-glass:before {
  background-image: url('png/hour-glass.png');
}
.no-icomoon .icon-spinner2:before {
  background-image: url('png/spinner2.png');
}

.no-icomoon .icon-spinner11:before {
  background-image: url('png/spinner11.png');
}
.no-icomoon .icon-binoculars:before {
  background-image: url('png/binoculars.png');
}
.no-icomoon .icon-search:before {
  background-image: url('png/search.png');
}
.no-icomoon .icon-zoom-in:before {
  background-image: url('png/zoom-in.png');
}
.no-icomoon .icon-zoom-out:before {
  background-image: url('png/zoom-out.png');
}
.no-icomoon .icon-enlarge:before {
  background-image: url('png/enlarge.png');
}
.no-icomoon .icon-shrink:before {
  background-image: url('png/shrink.png');
}
.no-icomoon .icon-enlarge2:before {
  background-image: url('png/enlarge2.png');
}
.no-icomoon .icon-shrink2:before {
  background-image: url('png/shrink2.png');
}
.no-icomoon .icon-key:before {
  background-image: url('png/key.png');
}
.no-icomoon .icon-lock:before {
  background-image: url('png/lock.png');
}
.no-icomoon .icon-unlocked:before {
  background-image: url('png/unlocked.png');
}
.no-icomoon .icon-wrench:before {
  background-image: url('png/wrench.png');
}
.no-icomoon .icon-equalizer:before {
  background-image: url('png/equalizer.png');
}
.no-icomoon .icon-equalizer2:before {
  background-image: url('png/equalizer2.png');
}
.no-icomoon .icon-cog:before {
  background-image: url('png/cog.png');
}
.no-icomoon .icon-hammer:before {
  background-image: url('png/hammer.png');
}
.no-icomoon .icon-magic-wand:before {
  background-image: url('png/magic-wand.png');
}
.no-icomoon .icon-aid-kit:before {
  background-image: url('png/aid-kit.png');
}
.no-icomoon .icon-bug:before {
  background-image: url('png/bug.png');
}
.no-icomoon .icon-pie-chart:before {
  background-image: url('png/pie-chart.png');
}
.no-icomoon .icon-stats-dots:before {
  background-image: url('png/stats-dots.png');
}
.no-icomoon .icon-stats-bars:before {
  background-image: url('png/stats-bars.png');
}
.no-icomoon .icon-stats-bars2:before {
  background-image: url('png/stats-bars2.png');
}
.no-icomoon .icon-trophy:before {
  background-image: url('png/trophy.png');
}
.no-icomoon .icon-gift:before {
  background-image: url('png/gift.png');
}
.no-icomoon .icon-glass:before {
  background-image: url('png/glass.png');
}
.no-icomoon .icon-glass2:before {
  background-image: url('png/glass2.png');
}
.no-icomoon .icon-mug:before {
  background-image: url('png/mug.png');
}
.no-icomoon .icon-spoon-knife:before {
  background-image: url('png/spoon-knife.png');
}
.no-icomoon .icon-leaf:before {
  background-image: url('png/leaf.png');
}
.no-icomoon .icon-rocket:before {
  background-image: url('png/rocket.png');
}
.no-icomoon .icon-meter:before {
  background-image: url('png/meter.png');
}
.no-icomoon .icon-hammer2:before {
  background-image: url('png/hammer2.png');
}
.no-icomoon .icon-fire:before {
  background-image: url('png/fire.png');
}
.no-icomoon .icon-lab:before {
  background-image: url('png/lab.png');
}
.no-icomoon .icon-magnet:before {
  background-image: url('png/magnet.png');
}
.no-icomoon .icon-bin:before {
  background-image: url('png/bin.png');
}
.no-icomoon .icon-briefcase:before {
  background-image: url('png/briefcase.png');
}
.no-icomoon .icon-airplane:before {
  background-image: url('png/airplane.png');
}
.no-icomoon .icon-truck:before {
  background-image: url('png/truck.png');
}
.no-icomoon .icon-road:before {
  background-image: url('png/road.png');
}
.no-icomoon .icon-accessibility:before {
  background-image: url('png/accessibility.png');
}
.no-icomoon .icon-target:before {
  background-image: url('png/target.png');
}
.no-icomoon .icon-shield:before {
  background-image: url('png/shield.png');
}
.no-icomoon .icon-power:before {
  background-image: url('png/power.png');
}
.no-icomoon .icon-switch:before {
  background-image: url('png/switch.png');
}
.no-icomoon .icon-power-cord:before {
  background-image: url('png/power-cord.png');
}
.no-icomoon .icon-clipboard:before {
  background-image: url('png/clipboard.png');
}
.no-icomoon .icon-list-numbered:before {
  background-image: url('png/list-numbered.png');
}
.no-icomoon .icon-list:before {
  background-image: url('png/list.png');
}
.no-icomoon .icon-list2:before {
  background-image: url('png/list2.png');
}
.no-icomoon .icon-tree:before {
  background-image: url('png/tree.png');
}
.no-icomoon .icon-menu:before {
  background-image: url('png/menu.png');
}
.no-icomoon .icon-menu2:before {
  background-image: url('png/menu2.png');
  width: 1.375em;
}
.no-icomoon .icon-menu3:before {
  background-image: url('png/menu3.png');
  width: 1.375em;
}
.no-icomoon .icon-menu4:before {
  background-image: url('png/menu4.png');
  width: 1.375em;
}
.no-icomoon .icon-cloud:before {
  background-image: url('png/cloud.png');
}
.no-icomoon .icon-cloud-download:before {
  background-image: url('png/cloud-download.png');
}
.no-icomoon .icon-cloud-upload:before {
  background-image: url('png/cloud-upload.png');
}
.no-icomoon .icon-cloud-check:before {
  background-image: url('png/cloud-check.png');
}
.no-icomoon .icon-download2:before {
  background-image: url('png/download2.png');
}
.no-icomoon .icon-upload2:before {
  background-image: url('png/upload2.png');
}
.no-icomoon .icon-sphere:before {
  background-image: url('png/sphere.png');
}
.no-icomoon .icon-earth:before {
  background-image: url('png/earth.png');
}
.no-icomoon .icon-link:before {
  background-image: url('png/link.png');
}
.no-icomoon .icon-flag:before {
  background-image: url('png/flag.png');
}
.no-icomoon .icon-attachment:before {
  background-image: url('png/attachment.png');
}
.no-icomoon .icon-eye:before {
  background-image: url('png/eye.png');
}
.no-icomoon .icon-eye-plus:before {
  background-image: url('png/eye-plus.png');
}
.no-icomoon .icon-eye-minus:before {
  background-image: url('png/eye-minus.png');
}
.no-icomoon .icon-eye-blocked:before {
  background-image: url('png/eye-blocked.png');
}
.no-icomoon .icon-bookmark:before {
  background-image: url('png/bookmark.png');
}
.no-icomoon .icon-bookmarks:before {
  background-image: url('png/bookmarks.png');
}
.no-icomoon .icon-sun:before {
  background-image: url('png/sun.png');
}
.no-icomoon .icon-contrast:before {
  background-image: url('png/contrast.png');
}
.no-icomoon .icon-brightness-contrast:before {
  background-image: url('png/brightness-contrast.png');
}
.no-icomoon .icon-star-empty:before {
  background-image: url('png/star-empty.png');
}
.no-icomoon .icon-star-half:before {
  background-image: url('png/star-half.png');
}
.no-icomoon .icon-star-full:before {
  background-image: url('png/star-full.png');
}
.no-icomoon .icon-heart:before {
  background-image: url('png/heart.png');
}
.no-icomoon .icon-heart-broken:before {
  background-image: url('png/heart-broken.png');
}
.no-icomoon .icon-man:before {
  background-image: url('png/man.png');
}
.no-icomoon .icon-woman:before {
  background-image: url('png/woman.png');
}
.no-icomoon .icon-man-woman:before {
  background-image: url('png/man-woman.png');
}
.no-icomoon .icon-happy:before {
  background-image: url('png/happy.png');
}
.no-icomoon .icon-happy2:before {
  background-image: url('png/happy2.png');
}
.no-icomoon .icon-smile:before {
  background-image: url('png/smile.png');
}
.no-icomoon .icon-smile2:before {
  background-image: url('png/smile2.png');
}
.no-icomoon .icon-tongue:before {
  background-image: url('png/tongue.png');
}
.no-icomoon .icon-tongue2:before {
  background-image: url('png/tongue2.png');
}
.no-icomoon .icon-sad:before {
  background-image: url('png/sad.png');
}
.no-icomoon .icon-sad2:before {
  background-image: url('png/sad2.png');
}
.no-icomoon .icon-wink:before {
  background-image: url('png/wink.png');
}
.no-icomoon .icon-wink2:before {
  background-image: url('png/wink2.png');
}
.no-icomoon .icon-grin:before {
  background-image: url('png/grin.png');
}
.no-icomoon .icon-grin2:before {
  background-image: url('png/grin2.png');
}
.no-icomoon .icon-cool:before {
  background-image: url('png/cool.png');
}
.no-icomoon .icon-cool2:before {
  background-image: url('png/cool2.png');
}
.no-icomoon .icon-angry:before {
  background-image: url('png/angry.png');
}
.no-icomoon .icon-angry2:before {
  background-image: url('png/angry2.png');
}
.no-icomoon .icon-evil:before {
  background-image: url('png/evil.png');
}
.no-icomoon .icon-evil2:before {
  background-image: url('png/evil2.png');
}
.no-icomoon .icon-shocked:before {
  background-image: url('png/shocked.png');
}
.no-icomoon .icon-shocked2:before {
  background-image: url('png/shocked2.png');
}
.no-icomoon .icon-baffled:before {
  background-image: url('png/baffled.png');
}
.no-icomoon .icon-baffled2:before {
  background-image: url('png/baffled2.png');
}
.no-icomoon .icon-confused:before {
  background-image: url('png/confused.png');
}
.no-icomoon .icon-confused2:before {
  background-image: url('png/confused2.png');
}
.no-icomoon .icon-neutral:before {
  background-image: url('png/neutral.png');
}
.no-icomoon .icon-neutral2:before {
  background-image: url('png/neutral2.png');
}
.no-icomoon .icon-hipster:before {
  background-image: url('png/hipster.png');
}
.no-icomoon .icon-hipster2:before {
  background-image: url('png/hipster2.png');
}
.no-icomoon .icon-wondering:before {
  background-image: url('png/wondering.png');
}
.no-icomoon .icon-wondering2:before {
  background-image: url('png/wondering2.png');
}
.no-icomoon .icon-sleepy:before {
  background-image: url('png/sleepy.png');
}
.no-icomoon .icon-sleepy2:before {
  background-image: url('png/sleepy2.png');
}
.no-icomoon .icon-frustrated:before {
  background-image: url('png/frustrated.png');
}
.no-icomoon .icon-frustrated2:before {
  background-image: url('png/frustrated2.png');
}
.no-icomoon .icon-crying:before {
  background-image: url('png/crying.png');
}
.no-icomoon .icon-crying2:before {
  background-image: url('png/crying2.png');
}
.no-icomoon .icon-point-up:before {
  background-image: url('png/point-up.png');
}
.no-icomoon .icon-point-right:before {
  background-image: url('png/point-right.png');
}
.no-icomoon .icon-point-down:before {
  background-image: url('png/point-down.png');
}
.no-icomoon .icon-point-left:before {
  background-image: url('png/point-left.png');
}
.no-icomoon .icon-warning:before {
  background-image: url('png/warning.png');
}
.no-icomoon .icon-question:before {
  background-image: url('png/question.png');
}
.no-icomoon .icon-plus:before {
  background-image: url('png/plus.png');
}
.no-icomoon .icon-minus:before {
  background-image: url('png/minus.png');
}
.no-icomoon .icon-info:before {
  background-image: url('png/info.png');
}
.no-icomoon .icon-cancel-circle:before {
  background-image: url('png/cancel-circle.png');
}
.no-icomoon .icon-blocked:before {
  background-image: url('png/blocked.png');
}
.no-icomoon .icon-cross:before {
  background-image: url('png/cross.png');
}
.no-icomoon .icon-checkmark:before {
  background-image: url('png/checkmark.png');
}
.no-icomoon .icon-spell-check:before {
  background-image: url('png/spell-check.png');
}
.no-icomoon .icon-enter:before {
  background-image: url('png/enter.png');
}
.no-icomoon .icon-exit:before {
  background-image: url('png/exit.png');
}
.no-icomoon .icon-play2:before {
  background-image: url('png/play2.png');
}
.no-icomoon .icon-pause:before {
  background-image: url('png/pause.png');
}
.no-icomoon .icon-stop:before {
  background-image: url('png/stop.png');
}
.no-icomoon .icon-previous:before {
  background-image: url('png/previous.png');
}
.no-icomoon .icon-next:before {
  background-image: url('png/next.png');
}
.no-icomoon .icon-backward:before {
  background-image: url('png/backward.png');
}
.no-icomoon .icon-forward2:before {
  background-image: url('png/forward2.png');
}
.no-icomoon .icon-play3:before {
  background-image: url('png/play3.png');
}
.no-icomoon .icon-pause2:before {
  background-image: url('png/pause2.png');
}
.no-icomoon .icon-stop2:before {
  background-image: url('png/stop2.png');
}
.no-icomoon .icon-backward2:before {
  background-image: url('png/backward2.png');
}
.no-icomoon .icon-forward3:before {
  background-image: url('png/forward3.png');
}
.no-icomoon .icon-first:before {
  background-image: url('png/first.png');
}
.no-icomoon .icon-last:before {
  background-image: url('png/last.png');
}
.no-icomoon .icon-previous2:before {
  background-image: url('png/previous2.png');
}
.no-icomoon .icon-next2:before {
  background-image: url('png/next2.png');
}
.no-icomoon .icon-eject:before {
  background-image: url('png/eject.png');
}
.no-icomoon .icon-volume-high:before {
  background-image: url('png/volume-high.png');
  width: 1.0625em;
}
.no-icomoon .icon-volume-medium:before {
  background-image: url('png/volume-medium.png');
}
.no-icomoon .icon-volume-low:before {
  background-image: url('png/volume-low.png');
}
.no-icomoon .icon-volume-mute:before {
  background-image: url('png/volume-mute.png');
}
.no-icomoon .icon-volume-mute2:before {
  background-image: url('png/volume-mute2.png');
}
.no-icomoon .icon-volume-increase:before {
  background-image: url('png/volume-increase.png');
}
.no-icomoon .icon-volume-decrease:before {
  background-image: url('png/volume-decrease.png');
}
.no-icomoon .icon-loop:before {
  background-image: url('png/loop.png');
}
.no-icomoon .icon-loop2:before {
  background-image: url('png/loop2.png');
}
.no-icomoon .icon-infinite:before {
  background-image: url('png/infinite.png');
}
.no-icomoon .icon-shuffle:before {
  background-image: url('png/shuffle.png');
}
.no-icomoon .icon-arrow-up-left:before {
  background-image: url('png/arrow-up-left.png');
}
.no-icomoon .icon-arrow-up:before {
  background-image: url('png/arrow-up.png');
}
.no-icomoon .icon-arrow-up-right:before {
  background-image: url('png/arrow-up-right.png');
}
.no-icomoon .icon-arrow-right:before {
  background-image: url('png/arrow-right.png');
}
.no-icomoon .icon-arrow-down-right:before {
  background-image: url('png/arrow-down-right.png');
}
.no-icomoon .icon-arrow-down:before {
  background-image: url('png/arrow-down.png');
}
.no-icomoon .icon-arrow-down-left:before {
  background-image: url('png/arrow-down-left.png');
}
.no-icomoon .icon-arrow-left:before {
  background-image: url('png/arrow-left.png');
}
.no-icomoon .icon-arrow-up-left2:before {
  background-image: url('png/arrow-up-left2.png');
}
.no-icomoon .icon-arrow-up2:before {
  background-image: url('png/arrow-up2.png');
}
.no-icomoon .icon-arrow-up-right2:before {
  background-image: url('png/arrow-up-right2.png');
}
.no-icomoon .icon-arrow-right2:before {
  background-image: url('png/arrow-right2.png');
}
.no-icomoon .icon-arrow-down-right2:before {
  background-image: url('png/arrow-down-right2.png');
}
.no-icomoon .icon-arrow-down2:before {
  background-image: url('png/arrow-down2.png');
}
.no-icomoon .icon-arrow-down-left2:before {
  background-image: url('png/arrow-down-left2.png');
}
.no-icomoon .icon-arrow-left2:before {
  background-image: url('png/arrow-left2.png');
}
.no-icomoon .icon-circle-up:before {
  background-image: url('png/circle-up.png');
}
.no-icomoon .icon-circle-right:before {
  background-image: url('png/circle-right.png');
}
.no-icomoon .icon-circle-down:before {
  background-image: url('png/circle-down.png');
}
.no-icomoon .icon-circle-left:before {
  background-image: url('png/circle-left.png');
}
.no-icomoon .icon-tab:before {
  background-image: url('png/tab.png');
}
.no-icomoon .icon-move-up:before {
  background-image: url('png/move-up.png');
}
.no-icomoon .icon-move-down:before {
  background-image: url('png/move-down.png');
}
.no-icomoon .icon-sort-alpha-asc:before {
  background-image: url('png/sort-alpha-asc.png');
}
.no-icomoon .icon-sort-alpha-desc:before {
  background-image: url('png/sort-alpha-desc.png');
}
.no-icomoon .icon-sort-numeric-asc:before {
  background-image: url('png/sort-numeric-asc.png');
}
.no-icomoon .icon-sort-numberic-desc:before {
  background-image: url('png/sort-numberic-desc.png');
}
.no-icomoon .icon-sort-amount-asc:before {
  background-image: url('png/sort-amount-asc.png');
}
.no-icomoon .icon-sort-amount-desc:before {
  background-image: url('png/sort-amount-desc.png');
}
.no-icomoon .icon-checkbox-checked:before {
  background-image: url('png/checkbox-checked.png');
}
.no-icomoon .icon-checkbox-unchecked:before {
  background-image: url('png/checkbox-unchecked.png');
}
.no-icomoon .icon-radio-checked:before {
  background-image: url('png/radio-checked.png');
}
.no-icomoon .icon-radio-checked2:before {
  background-image: url('png/radio-checked2.png');
}
.no-icomoon .icon-radio-unchecked:before {
  background-image: url('png/radio-unchecked.png');
}
.no-icomoon .icon-crop:before {
  background-image: url('png/crop.png');
}
.no-icomoon .icon-make-group:before {
  background-image: url('png/make-group.png');
}
.no-icomoon .icon-ungroup:before {
  background-image: url('png/ungroup.png');
}
.no-icomoon .icon-scissors:before {
  background-image: url('png/scissors.png');
}
.no-icomoon .icon-filter:before {
  background-image: url('png/filter.png');
}
.no-icomoon .icon-font:before {
  background-image: url('png/font.png');
}
.no-icomoon .icon-ligature:before {
  background-image: url('png/ligature.png');
}
.no-icomoon .icon-ligature2:before {
  background-image: url('png/ligature2.png');
}
.no-icomoon .icon-text-height:before {
  background-image: url('png/text-height.png');
}
.no-icomoon .icon-text-width:before {
  background-image: url('png/text-width.png');
}
.no-icomoon .icon-font-size:before {
  background-image: url('png/font-size.png');
}
.no-icomoon .icon-bold:before {
  background-image: url('png/bold.png');
}
.no-icomoon .icon-underline:before {
  background-image: url('png/underline.png');
}
.no-icomoon .icon-italic:before {
  background-image: url('png/italic.png');
}
.no-icomoon .icon-strikethrough:before {
  background-image: url('png/strikethrough.png');
}
.no-icomoon .icon-omega:before {
  background-image: url('png/omega.png');
}
.no-icomoon .icon-sigma:before {
  background-image: url('png/sigma.png');
}
.no-icomoon .icon-page-break:before {
  background-image: url('png/page-break.png');
}
.no-icomoon .icon-superscript:before {
  background-image: url('png/superscript.png');
}
.no-icomoon .icon-subscript:before {
  background-image: url('png/subscript.png');
}
.no-icomoon .icon-superscript2:before {
  background-image: url('png/superscript2.png');
}
.no-icomoon .icon-subscript2:before {
  background-image: url('png/subscript2.png');
}
.no-icomoon .icon-text-color:before {
  background-image: url('png/text-color.png');
}
.no-icomoon .icon-pagebreak:before {
  background-image: url('png/pagebreak.png');
}
.no-icomoon .icon-clear-formatting:before {
  background-image: url('png/clear-formatting.png');
}
.no-icomoon .icon-table:before {
  background-image: url('png/table.png');
}
.no-icomoon .icon-table2:before {
  background-image: url('png/table2.png');
}
.no-icomoon .icon-insert-template:before {
  background-image: url('png/insert-template.png');
}
.no-icomoon .icon-pilcrow:before {
  background-image: url('png/pilcrow.png');
}
.no-icomoon .icon-ltr:before {
  background-image: url('png/ltr.png');
}
.no-icomoon .icon-rtl:before {
  background-image: url('png/rtl.png');
}
.no-icomoon .icon-section:before {
  background-image: url('png/section.png');
}
.no-icomoon .icon-paragraph-left:before {
  background-image: url('png/paragraph-left.png');
}
.no-icomoon .icon-paragraph-center:before {
  background-image: url('png/paragraph-center.png');
}
.no-icomoon .icon-paragraph-right:before {
  background-image: url('png/paragraph-right.png');
}
.no-icomoon .icon-paragraph-justify:before {
  background-image: url('png/paragraph-justify.png');
}
.no-icomoon .icon-indent-increase:before {
  background-image: url('png/indent-increase.png');
}
.no-icomoon .icon-indent-decrease:before {
  background-image: url('png/indent-decrease.png');
}
.no-icomoon .icon-share:before {
  background-image: url('png/share.png');
}
.no-icomoon .icon-new-tab:before {
  background-image: url('png/new-tab.png');
}
.no-icomoon .icon-embed:before {
  background-image: url('png/embed.png');
}
.no-icomoon .icon-embed2:before {
  background-image: url('png/embed2.png');
  width: 1.25em;
}
.no-icomoon .icon-terminal:before {
  background-image: url('png/terminal.png');
}
.no-icomoon .icon-share2:before {
  background-image: url('png/share2.png');
}
.no-icomoon .icon-mail2:before {
  background-image: url('png/mail2.png');
}
.no-icomoon .icon-paypal:before {
  background-image: url('png/paypal.png');
}
.no-icomoon .icon-file-pdf:before {
  background-image: url('png/file-pdf.png');
}
.no-icomoon .icon-file-openoffice:before {
  background-image: url('png/file-openoffice.png');
}
.no-icomoon .icon-file-word:before {
  background-image: url('png/file-word.png');
}
.no-icomoon .icon-file-excel:before {
  background-image: url('png/file-excel.png');
}
.no-icomoon .icon-libreoffice:before {
  background-image: url('png/libreoffice.png');
}
.no-icomoon .icon-IcoMoon:before {
  background-image: url('png/IcoMoon.png');
}
