<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>About FOX Open</title>
    <style type="text/css">
html {
  background: #CCCCCC;
}

body {
  margin: 0px;
  padding: 0px 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #CCCCCC;
  font-size: 160%;
}

h2 {
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #EEEEEE;
  font-size: 140%;
}

h3 {
  font-size: 110%;
  margin: 0px 0px 0px 0px;
}

ul {
  margin-top: 0px;
  width: 800px;
}

.floatingLI {
  float: left;
  width: 400px;
}


#container {
  position: relative;
  min-width: 800px;
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #DDDDDD;
  padding: 30px;
  background: #FFFFFF;
}
    </style>
  </head>
  <body>
    <div id="container">
      <h1>FOXopen</h1>
      <h2>About FOXopen</h2>
      <p>FOXopen is a platform for sophisticated, stable web application development using XHTML, XML, XMLSchema, Java, and Oracle.<br />
Brainchild of and senior architect: Jason Brown</p>
      <h3>Developed By:</h3>
      <ul class="floatUL">
        <li class="floatingLI">J.Brown</li>
        <li class="floatingLI">P.Simpson</li>
        <li class="floatingLI">G.Watson</li>
        <li class="floatingLI">C.Blake</li>
        <li class="floatingLI">D.Bryant</li>
        <li class="floatingLI">H.Sargeant</li>
        <li class="floatingLI">M.Fletcher</li>
        <li class="floatingLI">B.Basson</li>
        <li class="floatingLI">A.Pearman</li>
        <li class="floatingLI">P.Nattress</li>
        <li class="floatingLI">C.Cameron-Mills</li>
        <li class="floatingLI">P.Gazzard</li>
        <li class="floatingLI">N.Palmer</li>
        <li class="floatingLI">P.Porter</li>
      </ul>
      <div style="clear: both;" />
      <br />

      <h2>FOXopen third party libraries</h2>
      <h3>Javascript</h3>
      <ul>
        <li><a href="http://www.tinymce.com/">TinyMCE</a> - LGPL V2.1: Copyright (c) 2012</li>
        <li><a href="http://www.bazon.net/mishoo/">jscalendar</a> - LGPL: Copyright (c) 2002-2005, Mihai Bazon</li>
        <li><a href="http://www.bosrup.com/web/overlib/">overlib</a> - Artistic License: Copyright (c) 1998-2004, Erik Bosrup</li>
        <li><a href="http://www.jquery.com/">jQuery</a> - MIT: Copyright (c) 2010 The jQuery Project</li>
        <li><a href="http://www.jqplot.com/">jqPlot</a> - MIT: Copyright (c) 2009-2011 Chris Leonello</li>
      </ul>
      <h3>Java Libraries</h3>
      <ul>
        <li><a href="https://javacc.dev.java.net/">JavaCC</a> - BSD License: Copyright (c) 2006, Sun Microsystems</li>
        <li><a href="http://cglib.sourceforge.net/">cglib</a> - Apache License V2.0</li>
        <li><a href="http://www.oracle.com/technology/software/tech/java/sqlj_jdbc/htdocs/jdbc817.html">Classes12</a> - Oracle Technology Network Development and Distribution License</li>
        <li><a href="http://www.oracle.com/technology/tech/xml/xdkhome.html">XDB</a> - Oracle Technology Network Development and Distribution License</li>
        <li><a href="http://kickjava.com/src/imageinfo/ImageInfo.java.htm">ImageInfo</a> - Public Domain: Marco Schmidt 2002</li>
        <li><a href="http://asm.ow2.org/">ASM</a> - BSD License: Copyright (c) 2000-2007, INRIA, France Telecom</li>
        <li><a href="http://poi.apache.org/">Apache POI</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://poi.apache.org/">Apache POI - OOXML</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://poi.apache.org/">Apache POI - OOXML Schemas</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://xmlgraphics.apache.org/fop/">Apache FOP</a> - Apache License V2.0: Copyright (c) 1999-2009, The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/beanutils/">Commons-BeanUtils</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/collections/">Commons-Collections</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/digester/">Commons-Digester</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/fileupload/">Commons-FileUpload</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://hc.apache.org/httpclient-3.x/">Commons-HTTPClient</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/codec/">Commons-Codec</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/logging/">Commons-Logging</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://commons.apache.org/io/">Commons-IO</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://jakarta.apache.org/oro/">Jakarta-ORO</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://josql.sourceforge.net/">JoSQL</a> - Apache License V2.0: Copyright (c) 2004-2007, Gary Bentley</li>
        <li><a href="http://barbecue.sourceforge.net/">Barbecue</a> - BSD License: Copyright (c) 2003, International Barcode Consortium</li>
        <li><a href="http://jmimemagic.sourceforge.net/index.html">Java Mime Magic</a> - LGPL: Copyright (c) 2004 David Castro</li>
        <li><a href="http://sourceforge.net/projects/mime-util/">Mime Type Detection Utility</a> - Apache License V2.0: Copyright 2007-2009 Medsea Business Solutions S.L.</li>
        <li><a href="http://www.slf4j.org/">SLF4J-ACPI</a> - Mozilla License: Copyright (c) 2004-2008 QOS.ch</li>
        <li><a href="http://www.slf4j.org/">SLF4J-JCL</a> - Mozilla License: Copyright (c) 2004-2008 QOS.ch / Copyright (c) 2004-2005 SLF4J.ORG</li>
        <li><a href="http://dev.taldius.net/libclamav/intro.html">Libclamav</a> - :</li>
        <li><a href="https://jai-imageio.dev.java.net/">Java Advanced Imaging Image I/O</a> - JRL/JDL License: Sun Microsystems</li>
        <li><a href="https://jai.dev.java.net/">Java Advanced Imaging</a> - BSD License: Sun Microsystems</li>
        <li><a href="http://www.sourceforge.net/projects/beanplanet/">BeanPlanet</a> - Apache License V2.0: Copyright (c) 2004-2008, BeanPlanet Limited</li>
        <li><a href="http://jazzy.sourceforge.net/">Jazzy</a> - LGPL: Copyright (c) 2001 Mindaugas Idzelis</li>
        <li><a href="http://www.randelshofer.ch/">JPEGImageIO</a> - Creative Commons BY 3.0 / LGPL V3: Copyright (c) 1999-2010, MultiShow</li>
        <li><a href="http://www.oracle.com/technology/software/products/spatial/index.html">SDOAPI</a> - Oracle Technology Network Development and Distribution License</li>
        <li><a href="http://projects.apache.org/projects/xml_security_java.html">Apache XML Security Java</a> - Apache License V1.1: The Apache Software Foundation</li>
        <li><a href="http://code.google.com/p/kitty-cache/">Kitty-Cache</a> - Apache License V2.0: Travis Reeder</li>
        <li><a href="http://www.itextpdf.com/">iText 2.1.7</a> - Mozilla License V1.1 / LGPL V2.0</li>
        <li><a href="http://www.bouncycastle.org">Bouncy Castle Provider</a> - MIT X11 Adaptation: Copyright (c) 2000-2011 The Legion Of The Bouncy Castle</li>
        <li><a href="http://logging.apache.org/log4j/">Log4j</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://groovy.codehaus.org/">Groovy</a> - Apache License V2.0: The Apache Software Foundation</li>
        <li><a href="http://jasperforge.org/">JasperReports</a> - LGPL V3: Copyright (c) 2000 - 2012 Jaspersoft Corporation</li>
        <li><a href="http://jasperforge.org/">JasperReports-Fonts</a> - LGPL V3: Copyright (c) 2000 - 2012 Jaspersoft Corporation</li>
        <li><a href="http://sourceforge.net/projects/jexcelapi/">JXL</a> - LGPL V2: </li>
      </ul>
    </div>
  </body>
</html>
