/**
 * IE CSS Fixes - Should be applied to IE5.5, IE6, IE7.
 * Conditionally included to avoid affecting unexpected 
 * browsers and new browser versions.
 */

@media screen {
  body.disabled {
    filter: alpha(opacity=60);
  }
}

/**
 * Commonly-used IE hack for position: fixed;
 */
* html .status-div, * html #iframe-wrapper {
  position: absolute;
  top:expression(eval(document.compatMode &&
  document.compatMode=='CSS1Compat') ?
  documentElement.scrollTop
  +((documentElement.clientHeight-this.clientHeight)/2 )
  : document.body.scrollTop
  +((document.body.clientHeight-this.clientHeight)/2));
}

* html #iframe-wrapper {
  filter: alpha(opacity = 0);
}

#blocking-div {
  filter: alpha(opacity = 30);
}

