.spellchecker {
  background-color: #FFF;
  box-shadow: 0 3px 10px rgba(0,0,0,0.7);
}

.spellChecker td {
  padding: 3px; /* Adds a gap in ie6 on drag bar... */
}

.spellcheckerDragBar {
  padding: 6px;
  cursor: move;
  color: #444;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #d6d6d6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* IE10+ */
  background: linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
  _width: 100%; /* IE6 fix */
  _background: #EEE; /* IE6 Fixes filter gradient collapsing clickable area (can only click on text to drag) */
}

.unknown-spelling {
  width: 100%
}
