{{^Disabled}}
  <button {{#FieldName}}id="{{FieldName}}" name="{{FieldName}}" {{/FieldName}}type="{{InputType}}"{{> OnClickAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{#AccessiblePromptText}} aria-label="{{AccessiblePromptText}}"{{/AccessiblePromptText}}>
  {{^ButtonImageURL}}
    {{Value}}{{/ButtonImageURL}}
  {{#ButtonImageURL}}
    <img src="{{ButtonImageURL}}"{{> AltAttribute}}/>{{/ButtonImageURL}}
  </button>{{/Disabled}}
{{#Disabled}}
  {{^ButtonImageURL}}
    <button {{#FieldName}}id="{{FieldName}}" name="{{FieldName}}" {{/FieldName}}type="{{InputType}}"{{> DisabledAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{#AccessiblePromptText}} aria-label="{{AccessiblePromptText}}"{{/AccessiblePromptText}}>{{Value}}</button>{{/ButtonImageURL}}
  {{#ButtonImageURL}}
    <img {{#FieldName}}id="{{FieldName}}" {{/FieldName}}src="{{ButtonImageURL}}"{{> ClassAttribute}}{{> StyleAttribute}}{{> AltAttribute}}{{#AccessiblePromptText}} aria-label="{{AccessiblePromptText}}"{{/AccessiblePromptText}}/>{{/ButtonImageURL}}{{/Disabled}}