<div class="date-input-container{{#TightField}} tight-date-input-container{{/TightField}}"><input id="{{FieldName}}" name="{{FieldName}}" type="{{InputType}}" value="{{Value}}"{{#Cols}} size="{{Cols}}"{{/Cols}}{{> OnChangeAttribute}}{{> PlaceholderAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{> AriaMandatoryAttribute}}{{> ReadOnlyAttribute}}{{> HasHintDataAttribute}}{{> AriaAccessiblePromptAttribute}}/>
{{^Readonly}}<div class="date-icon icon-calendar" id="icon{{FieldName}}" aria-label="Click here to pop up the date picker"></div>{{/Readonly}}</div>