<input type="hidden" name="thread_id" id="thread_id" value="{{ThreadID}}"/>
<input type="hidden" name="app_mnem" id="app_mnem" value="{{AppMnem}}"/>
<input type="hidden" name="field_set" id="field_set" value="{{FieldSetLabel}}"/>
<input type="hidden" name="scroll_position" id="scroll_position" value="{{ScrollPosition}}"/>
<input type="hidden" name="current-call-id" id="current-call-id" value="{{CurrentCallID}}"/>
<input type="hidden" name="action_name" id="action_name"/>
<input type="hidden" name="context_ref" id="context_ref"/>
<input type="hidden" name="action_params" id="action_params" value=""/>