<textarea id="{{FieldName}}" name="{{FieldName}}"{{#Cols}} cols="{{Cols}}"{{/Cols}}{{#Rows}} rows="{{Rows}}"{{/Rows}} data-tinymce="true" tabindex="-1"{{> ClassAttribute}}{{> StyleAttribute}}{{> AriaMandatoryAttribute}}{{> ReadOnlyAttribute}}{{> AriaAccessiblePromptAttribute}}>{{Value}}</textarea>