<div{{> ClassAttribute}}{{> StyleAttribute}}>
{{#Runnable}}
  <a{{> HrefAttribute}}{{> LinkTitleAttribute}}{{#AccessiblePromptText}} aria-label="{{AccessiblePromptText}}"{{/AccessiblePromptText}}>{{/Runnable}}
<img src="{{ImgSrc}}" alt="{{ImgAlt}}"{{#ImgStyle}} style="{{ImgStyle}}"{{/ImgStyle}}/>
{{#Runnable}}
  </a>{{/Runnable}}
</div>