{{#HasPrefixOrSuffix}}<div {{> ClassAttribute}}{{> StyleAttribute}}>{{/HasPrefixOrSuffix}}{{#Prefix}}<div class="input-prefix">{{{Prefix}}}</div>{{/Prefix}}<input id="{{FieldName}}" name="{{FieldName}}" type="{{InputType}}" value="{{Value}}"{{#Cols}} size="{{Cols}}"{{/Cols}}{{#MaxLength}} maxlength="{{MaxLength}}"{{/MaxLength}}{{> PlaceholderAttribute}}{{^HasPrefixOrSuffix}}{{> ClassAttribute}}{{> StyleAttribute}}{{/HasPrefixOrSuffix}}{{> AriaMandatoryAttribute}}{{> ReadOnlyAttribute}}{{> OnChangeAttribute}}{{> HintAttributes}}{{> AriaAccessiblePromptAttribute}}/>{{#Suffix}}<div class="input-suffix">{{{Suffix}}}</div>{{/Suffix}}{{#HasPrefixOrSuffix}}</div>{{/HasPrefixOrSuffix}}