<input id="{{FieldName}}" name="{{FieldName}}" type="{{InputType}}" value="{{Value}}"{{#Cols}} size="{{Cols}}"{{/Cols}}{{#MaxLength}} maxlength="{{MaxLength}}"{{/MaxLength}}{{> PlaceholderAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{> AriaMandatoryAttribute}}{{> ReadOnlyAttribute}}{{> OnChangeAttribute}}{{> HasHintDataAttribute}}{{> AriaAccessiblePromptAttribute}}/>