{{^ReadOnly}}
  <a {{> HrefAttribute}}{{#TargetBlank}} target="_blank" rel="noopener noreferrer"{{/TargetBlank}}{{> LinkTitleAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{> HintAttributes}}{{#AccessiblePromptText}} aria-label="{{AccessiblePromptText}}"{{/AccessiblePromptText}}>{{{PromptText}}}</a>{{/ReadOnly}}
{{#ReadOnly}}
    <span{{> ClassAttribute}}{{> StyleAttribute}}>{{{PromptText}}}</span>{{/ReadOnly}}