{{^ImageURL}}<a href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}>{{{PromptText}}}</a>{{/ImageURL}}
{{#ImageURL}}<a href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}><img src="{{ImageURL}}" alt="{{PromptText}}"/></a>{{/ImageURL}}