{{^ImageURL}}<a href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}>{{{Prompt}}}</a>{{/ImageURL}}
{{#ImageURL}}<a href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}><img src="{{ImageURL}}" alt="{{Prompt}}"/></a>{{/ImageURL}}
