{{^ImageURL}}<a {{#FieldName}}id="{{FieldName}}" name="{{FieldName}}" {{/FieldName}}href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}>{{{Prompt}}}</a>{{/ImageURL}}
{{#ImageURL}}<a {{#FieldName}}id="{{FieldName}}" name="{{FieldName}}" {{/FieldName}}href="{{MailToLink}}"{{> HintAttributes}}{{> ClassAttribute}}{{> StyleAttribute}}><img src="{{ImageURL}}" alt="{{Prompt}}"/></a>{{/ImageURL}}
