{{#Mandatory}}<span class="mand-label{{#MandatoryClass}} {{MandatoryClass}}{{/MandatoryClass}}"{{#MandatoryStyle}} style="{{MandatoryStyle}}"{{/MandatoryStyle}} aria-hidden="true">{{Mandatory}}</span>{{/Mandatory}}
{{#Optional}}<span class="mand-label{{#MandatoryClass}} {{MandatoryClass}}{{/MandatoryClass}}"{{#MandatoryStyle}} style="{{MandatoryStyle}}"{{/MandatoryStyle}} aria-hidden="true">{{Optional}}</span>{{/Optional}}