<input id="{{FieldID}}" name="{{FieldName}}" value="{{FieldID}}" type="{{InputType}}"{{#Checked}} checked="checked"{{/Checked}}{{> DisabledAttribute}}{{> OnChangeAttribute}}{{> HintAttributes}}/><label id="p{{FieldID}}" for="{{FieldID}}"{{#KeyClass}} class="{{KeyClass}}"{{/KeyClass}}{{#KeyStyle}} style="{{KeyStyle}}"{{/KeyStyle}}>{{PromptText}}</label>