{{^Disabled}}{{#AttributeSafeActionJS}} onclick="javascript:{{{AttributeSafeActionJS}}}"{{/AttributeSafeActionJS}}{{#ActionHref}} onclick="javascript:document.location='{{ActionHref}}'"{{/ActionHref}}{{/Disabled}}