<ul class="tabs{{#Class}} {{Class}}{{/Class}}" data-tab-group="{{TabGroupKey}}" role="tablist">
{{#TabItems}}
  <li id="{{KeyID}}" class="{{Class}}" aria-selected="{{Selected}}" data-tab-key="{{TabKey}}" role="tab" aria-controls="{{ContentID}}">{{{ItemHTML}}}</li>
{{/TabItems}}
</ul>