<div id="{{ContentID}}" arial-labelledby="{{KeyID}}" class="tab-content {{Class}}" style="{{Style}}" data-tab-group="{{TabGroupKey}}" data-tab-key="{{TabKey}}" aria-hidden="{{Hidden}}">{{{TabContent}}}</div>