<textarea id="{{FieldName}}" name="{{FieldName}}"{{#Cols}} cols="{{Cols}}"{{/Cols}}{{#Rows}} rows="{{Rows}}"{{/Rows}}{{#MaxLength}} maxlength="{{MaxLength}}"{{/MaxLength}}{{#AutoResize}} data-auto-resize="true"{{/AutoResize}}{{> PlaceholderAttribute}}{{> ClassAttribute}}{{> StyleAttribute}}{{> AriaMandatoryAttribute}}{{> ReadOnlyAttribute}}{{> OnChangeAttribute}}{{> HintAttributes}}{{> AriaAccessiblePromptAttribute}}>{{{Value}}}</textarea>