<script type="text/javascript">$(document).ready(function() { tinyMCE.init({
  mode: "exact",
  elements: "{{FieldName}}",
  theme: "modern",
  skin: "lightgray-no-icon-font",
  plugins: "legacyoutput, code, lists, insertdatetime, paste, noneditable, visualchars{{#AutoResize}}, autoresize{{/AutoResize}} {{#AdditionalPlugins}}, {{AdditionalPlugins}}{{/AdditionalPlugins}}",
  browser_spellcheck: true,
{{#AutoResize}}
  {{#AutoResizeMaxHeight}}
    autoresize_max_height : "{{AutoResizeMaxHeight}}",
  {{/AutoResizeMaxHeight}}
{{/AutoResize}}
{{#Readonly}}
  readonly : 1,
{{/Readonly}}
  toolbar: "{{ToolbarConfig}}",
{{{AdditionalConfig}}}
});
});</script>
